---
const user = Astro.cookies.get("userId");

type Props = {
  postSlug: string;
};

const { postSlug } = Astro.props;
---

{
  user?.value ? (
    <form
      method="POST"
      class="grid grid-cols-[1fr,auto] gap-x-3 gap-y-2 items-end max-md:grid-cols-1"
    >
      <div class="flex flex-col">
        <label
          for="comment"
          class="text-zinc-900 text-2xl mb-2"
        >
          Leave a comment
        </label>
        <input
          type="text"
          name="comment"
          id="comment"
          class="border border-teal-900 rounded-lg text-2xl px-6 py-6 "
        />
      </div>
      <button
        type="submit"
        class="bg-teal-900 text-white text-2xl px-6 py-5 rounded-xl my-1"
      >
        Add a comment
      </button>
    </form>
  ) : (
    <p class="text-zinc-700 text-2xl mt-4 mb-24">
      Please{" "}
      <a
        href={`/login?redirect=/blog/${postSlug}#comments`}
        class="text-teal-900 underline"
      >
        login
      </a>{" "}
      to comment
    </p>
  )
}
