---
import BaseLayout from "~/layouts/BaseLayout.astro";
import Main from "~/layouts/Main.astro";
---

<BaseLayout title="Newsletter Success">
  <Main>
    <p class="text-center pt-12 text-2xl">
      You have successfully subscribed to our newsletter
    </p>
  </Main>
</BaseLayout>
